*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #000b0f;
}

.frame {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: wheat;
  width: 60rem;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  margin: 50px auto;
  padding: 10px;
}

.screen {
  flex: 2;
  background-color: aliceblue;
}

.keypad {
  flex: 4;
  background-color: antiquewhite;
}